{
  "project_info": {
    "project_number": "REPLACE",
    "project_id": "REPLACE",
    "storage_bucket": "REPLACE.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE",
        "android_client_info": {
          "package_name": "REPLACE_PACKAGE_NAME"
        }
      },
      "api_key": [{ "current_key": "REPLACE" }],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
